@import "../../global.scss";
.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0.5;

    .imgContainer {
      color: white;
      width: 700px;
      height: 700px;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      background-size: 400% 400%;
      position: relative;
      overflow: hidden;
      animation: change 5s ease-in-out infinite;

      @keyframes change {
        0% {
          background-position: 0 %50%;
        }
        50% {
          background-position: 100% %50%;
        }
        10% {
          background-position: 0 %50%;
        }
      }
      @include mobile {
        align-items: flex-start;
        scroll-behavior: unset;
        height: 350px;
        width: 350px;
      }

      img {
        height: 90%;
        overflow: hidden;
        @include mobile {
          margin-top: 20%;
          height: 79.9%;
        }
      }
    }
  }
  .right {
    position: relative;
    flex: 0.5;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile {
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: $mainColor;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
