@import "../../global.scss";
.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0.5;

    .imgContainer {
      color: white;
      width: 650px;
      height: 650px;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      background-size: 400% 400%;
      position: relative;
      overflow: hidden;
      animation: change 5s ease-in-out infinite;

      @keyframes change {
        0% {
          background-position: 0 %50%;
        }
        50% {
          background-position: 100% %50%;
        }
        10% {
          background-position: 0 %50%;
        }
      }
      @include mobile {
        align-items: flex-start;
        scroll-behavior: unset;
        margin-top: 35px;
        height: 250px;
        width: 250px;
      }

      img {
        height: 90%;
        overflow: hidden;
        @include mobile {
          margin-top: 20%;
          height: 80%;
        }
      }
    }
  }
  .right {
    position: relative;
    flex: 0.5;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile {
        margin-top: -50px;
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: $mainColor;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    .scrolldown {
      height: 300px;
      width: 300px;
      position: absolute;
      left: 10%;
      bottom: 20px;
      cursor: pointer;
      @include mobile {
        height: 35px;
        width: 35px;
        left: 49%;
      }
    }
    .scrolldown::before,
    .scrolldown::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid black;
      height: 5px;
      width: 5px;
      transform: translate(-50%, -50%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scrolldown 1s ease-in-out infinite;
      @include mobile {
        height: 3px;
        width: 3px;
      }
    }
    .scrolldown::after {
      top: 30%;
      animation-delay: 0.3s;
    }
    @keyframes scrolldown {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        top: 90%;
      }
    }
  }
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
