@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }
  .left {
    flex: 1;
    overflow: hidden;

    img {
      @include mobile {
        margin-left: 15px;
      }
      height: 75%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }
    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border: none;
        background-color: #ecf0f1;
        padding: 10px 10px;
        border-radius: 10px;
        @include mobile {
          width: 200px;
          margin-bottom: 20px;
          height: 40px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
        border: none;
        background-color: #ecf0f1;
        padding: 10px 10px;
        border-radius: 10px;
        @include mobile {
          width: 200px;
          height: 100x;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        cursor: pointer;
        @include mobile {
          width: 200px;
          height: 100px;
        }
        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        font-size: 20px;
        @include mobile {
          margin-top: 10px;
          height: 40px;
          font-size: 13px;
        }
      }
      p {
        color: red;

        @include mobile {
          height: 40px;
          font-size: 13px;
        }
      }
    }
  }
}
