@import "../../global.scss";

.works {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }
    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 100px;
    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 65%;
          height: 130px;
          margin: 15px 0;
          border-radius: 10px;
        }
        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
              width: 100%;
              height: 100%;
              margin-left: 0px;
            }
            .imgContainer {
              width: 200px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include mobile {
                display: none;
              }
              img {
                height: 30px;
                width: 50px;
                margin-left: 5px;
                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              text-decoration: underline;
              font-size: 20px;
              margin-bottom: 10px;
              color: $mainColor;
              @include mobile {
                font-size: 11px;
              }
            }
            h4 {
              font-size: 17px;
              color: $mainColor;
              @include mobile {
                display: none;
              }
            }
            p {
              font-size: 13px;
              @include mobile {
                display: none;
              }
            }
            a {
              margin-top: 30px;
              font-size: 16px;
              font-weight: bold;
              text-decoration: none;
              color: $mainColor;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          iframe {
            width: 400px;
            height: 250px;
            @include mobile {
              height: 100%;
              width: 100%;
              transform: none;
            }
          }
        }
      }
    }
  }
  .scrolldown {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    @include mobile {
      height: 40px;
      width: 40px;
      left: 45%;
    }
  }
  .scrolldown::before,
  .scrolldown::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 7px;
    width: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrolldown 1s ease-in-out infinite;
    @include mobile {
      height: 3px;
      width: 3px;
    }
  }
  .scrolldown::after {
    top: 30%;
    animation-delay: 0.3s;
  }
  @keyframes scrolldown {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 90%;
    }
  }
}
